/* WordPress-only overrides for content-listing */
.event-listing {
    position: relative;
}

.event-listing::after {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    content: "event-listing preview";
    position: absolute;
    padding-top: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffcc0055;
}
